<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cart.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.example.cart.model.Product">
    <id column="pid" jdbcType="INTEGER" property="pid" />
    <result column="pname" jdbcType="VARCHAR" property="pname" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="inventory" jdbcType="INTEGER" property="inventory" />
    <result column="picpath" jdbcType="VARCHAR" property="picpath" />
    <result column="statis" jdbcType="INTEGER" property="statis" />
    <result column="details" jdbcType="VARCHAR" property="details" />
  </resultMap>
  <sql id="Base_Column_List">
    pid, pname, price, inventory, picpath, statis, details
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.cart.model.Product">
    insert into product (pid, pname, price, 
      inventory, picpath, statis, 
      details)
    values (#{pid,jdbcType=INTEGER}, #{pname,jdbcType=VARCHAR}, #{price,jdbcType=INTEGER}, 
      #{inventory,jdbcType=INTEGER}, #{picpath,jdbcType=VARCHAR}, #{statis,jdbcType=INTEGER}, 
      #{details,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.cart.model.Product">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        pid,
      </if>
      <if test="pname != null">
        pname,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="inventory != null">
        inventory,
      </if>
      <if test="picpath != null">
        picpath,
      </if>
      <if test="statis != null">
        statis,
      </if>
      <if test="details != null">
        details,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="pname != null">
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=INTEGER},
      </if>
      <if test="inventory != null">
        #{inventory,jdbcType=INTEGER},
      </if>
      <if test="picpath != null">
        #{picpath,jdbcType=VARCHAR},
      </if>
      <if test="statis != null">
        #{statis,jdbcType=INTEGER},
      </if>
      <if test="details != null">
        #{details,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.cart.model.Product">
    update product
    <set>
      <if test="pname != null">
        pname = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="inventory != null">
        inventory = #{inventory,jdbcType=INTEGER},
      </if>
      <if test="picpath != null">
        picpath = #{picpath,jdbcType=VARCHAR},
      </if>
      <if test="statis != null">
        statis = #{statis,jdbcType=INTEGER},
      </if>
      <if test="details != null">
        details = #{details,jdbcType=VARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.cart.model.Product">
    update product
    set pname = #{pname,jdbcType=VARCHAR},
      price = #{price,jdbcType=INTEGER},
      inventory = #{inventory,jdbcType=INTEGER},
      picpath = #{picpath,jdbcType=VARCHAR},
      statis = #{statis,jdbcType=INTEGER},
      details = #{details,jdbcType=VARCHAR}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <select id="selectAllProduct" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product
  </select>
</mapper>